@model ApiUser
<link rel="stylesheet" href="~/css/masonaryEffect.css" />
<div style="margin: 30px">
    <p>Hello @ViewBag.firstName</p>
    <p>Your Saved Demo's</p>
</div>
<input id="uploadImgLink" accept=".png,.jpg,.jpeg" type="file" onchange="encodeImageFileAsURL(this)" style="display: none;"/>
<div class="container res" style="max-width:95%" data-masonry='{"percentPosition": true }'>
@foreach (UserSavedDemos demo in Model.UserSavedDemos)
{
    <div class="card democard scale" id="@demo.DemoHash">
        <div style="position:relative" id="@(demo.DemoHash + "content")">
            @if (demo.DemoHashNavigation.DataDataTable.ToList()[0].ImageData != "null" && demo.DemoHashNavigation.DataDataTable.ToList()[0].ImageData != null)
            {
                    <img src="@demo.DemoHashNavigation.DataDataTable.ToList()[0].ImageData" alt="@demo.DemoTitle">
                }
                else
                {
                    <img src="~/img/placeholder.png" alt="@demo.DemoTitle">
                }
                <div class="text">
                <a class="text-decoration-none" href="/?key=@demo.DemoHash"><h3>@demo.DemoTitle</h3></a>
                <p style="color: black; font-size: 10px">Created @demo.DemoHashNavigation.DataDataTable.ToList()[0].UploadDate.ToShortDateString()</p>
            </div>
        </div>
        <div class="hide row align-items-center btnGroupcard" id="@(demo.DemoHash + "btnGroups")" style="position:relative;transform: rotate3d(0,1,0, 180deg)">
            <div class="col">
                <div class="text-center">
                    <span class="btnGroupbtn editImageBtnGroup" id="img_@demo.DemoHash"><p>Edit Image</p></span>
                    <span class="btnGroupbtn setPrivacyBtnGroup" id="pvy_@demo.DemoHash"><p>Set privacy</p></span>
                    <span class="btnGroupbtn delete"><p>Delete</p></span>
                </div>
            </div>
        </div>
    </div>
}
</div>
<p>Your completed Lessons</p>
<div class="container d-flex">
    @foreach (UserSavedLessons lesson in Model.UserSavedLessons)
    {
        var url = "/?key=" + lesson.LessonHash.ToString();
        <div class="card democard" style="padding: 20px">
            <a href="@url"><p>@lesson.LessonTitle</p></a>
        </div>
    }
</div>
<style></style>
<br /><br />
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="~/js/myAccount.js"></script>